.enigma {
	padding-bottom: 75px;
}

.enigma img {
	width: 80%;
	max-width: 25em;
	height: auto;
}

.container {
	width: 80%;
}

#logo {
	max-width: 20em;
	height: auto;
	margin-top: 50px;
}

#logo.small {
	width: 9em;
	height: auto;
	margin-top: 10px;
}

#porta {
	height: auto;
	width: 80%;
	max-width: 337px;
}

a#sair {
	margin: 0px 0px 0px 15px;
	font-size: 0.75em;
}

html {
	height: 100%;
	margin: 25px;
}

body {
	position: relative;
	min-height: 100%;
	background-color: #ffffff;
	font-family: mono;
	font-size: 1.3em;
	color: #747474;
	margin: 0;
}

center {
	width: 100%;
	min-height: 100%;
}

footer {
	position: absolute;
	display: flex;
	justify-content: space-between;
	bottom: 0px;
	height: 0px;
	width: 90%;
	margin: 5%;
}

a {
	text-decoration: none;
	color: #c84630;
}

