#logo {
	width: 400px;
	height: auto;
}

#porta {
	background-image: url("../pfechada.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
	height: 400px;
	width: 200px;
}

#porta:hover {
	background-image: url("../paberta.png");
}

.container {
	width: 80%;
	min-width: 500px;
}

footer {
	background-color: #c74530;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	color: #fbcfa1;
}

body {
	/* background-image: url("../holofote.png"); */
	/* background-size: 200% auto; */
	/* background-position: -45% -40%; */
	background-color: #443f3bff;
	font-family: mono;
	font-size: 1.2em;
	color: #eeb281ff;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fe6e59ff;
}

