#logo {
	width: 400px;
	height: auto;
	margin-top: 50px;
}

#porta {
	height: 395px;
	width: auto;
}

.enigma {
	margin-top: 150px;
}

.container {
	width: 80%;
	min-width: 500px;
}

footer {
	background-color: #c74530;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 75px;
	color: #fbcfa1;
}

body {
	/* background-image: url("../holofote.png"); */
	/* background-size: 200% auto; */
	/* background-position: -45% -40%; */
	background-color: #443f3bff;
	font-family: mono;
	font-size: 1.3em;
	color: #eeb281ff;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fe6e59ff;
}

